*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.5rem;
}
img{
    width: 100%;
}

.container{
    display: grid;
    grid-template: 
    "header header" 50px
    "left-menu main" 1fr /
     200px   1fr;

     width: 100vw;
     height: 100vh;
}


header{
    grid-area: header;
    display: grid;
    align-items: center;
    padding: 0.4rem;
    background-color: rgba(209, 202, 202, 0.329);
}


nav{
    display: grid;
    grid-template-columns: 200px auto 400px;
    gap: 2rem;
   
}

.left-header-items{
    display: grid;
    grid-template-columns: 30px 30px 1fr ;
    align-content: center;
    gap: 0.3rem ;
}

.hamburger-logo{
    /* border:  1px solid black; */
    display: grid;
    justify-items: center ;
    margin-top: 0.5rem;
    width: 25px;
}

.youtube-logo{
    display: grid;
    /* border:  1px solid black; */
    justify-content: center;
    width: 40px;
    object-fit:contain;    
}

.yotube-logo__{
    /* border:  1px solid black; */
    display: grid;
    margin-top: 0.4rem;
    text-align: center;
    
}

.left-header-items a{
    text-decoration: none;
    color: black;
}





.main-header-items ul{ 
    list-style: none;
    display: grid;
    grid-template-columns: auto 30px 30px;
    justify-content: center;
    align-content: center;
}
.main-header-items li{
    display: grid;
    grid-auto-flow: column;
}


.search{
    display: grid;
    width: 30vw;
    height: 2rem;
    border-radius: 3px;
    background-color: rgba(253, 253, 253, 0.425);
    border-width: 0.1px; 
}
.search-button{
    height: 2rem;
    width: 50px;
    border-radius: 3px;
    padding: 0.2rem;
    background-color: rgba(253, 253, 253, 0.425);
    border-width: 0.1px; 
}



.right-heder-items ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
    list-style: none;
    justify-content: end;
    align-content: center;
}

.sign-in-button{
    height: 2rem;
    border-radius: 3px;
    padding: 0.2rem;
    background-color: rgba(253, 253, 253, 0.425);
    border-width: 0.1rem; 
}

.apps{
    display: grid;
}

.create{
    display: grid;
}

.notification{
    display: grid;
}

.profile a{
text-decoration: none;
}


.left-menu{
    grid-area: left-menu;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    overflow: scroll;

}

.left-menu section{
    padding: 0.5rem;
    border-bottom: 1px solid rgba(87, 85, 85, 0.329);
}

.guide-section-top ul{
    list-style: none;
   
}


.guide-section-grid{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    margin-bottom: 0.5rem;
    
}

.guide-section-grid h3{
    font-size: 0.9rem;
    font-weight: 200;
}

.guide-section-top a{
    text-decoration: none;
    color: black;
}


.guide-bottom-section ul{
    list-style: none;
   
}

.guide-bottom-section{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    margin-bottom: 0.5rem;
}

.guide-bottom-section h3{
    font-size: 0.9rem;
    font-weight: 200;
}

.guide-section-bottom a{
    text-decoration: none;
    color: black;
}


.Subscription-info{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    margin-bottom: 0.5rem;
}

.Subscription ul{
    list-style: none;
}
.sub-text{
    font-size: 0.8rem;;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.Subscription-info h3{
    font-size: 0.9rem;
    font-weight: 200;
}

.Subscription a{
    text-decoration: none;
    color: black; 
}


.more-from-youtube__{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    margin-bottom: 0.5rem;
   
}

.more-from-youtube ul{
    list-style: none;
}
.more-text{
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.more-from-youtube__ h3{
    font-size: 0.8rem;
    font-weight: 200;
}

.more-from-youtube a{
    text-decoration: none;
    color: black; 
}


.settings__{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
    margin-bottom: 0.5rem;
   
}

.settings ul{
    list-style: none;
}


.settings__ h3{
    font-size: 0.8rem;
    font-weight: 200;
}

.settings a{
    text-decoration: none;
    color: black; 
}

main{
    grid-area: main;
    background-color: rgba(253, 253, 253, 0.425);
    display: grid;
    grid-template-rows: 40px 1fr;
}

.filter-bar{
overflow:auto;
display: grid;
grid-auto-columns: auto;
padding: 0.5rem;
align-content: center;
}


.filter-bar-button{
    width: auto;
    padding: 0.2rem;
    border-radius: 50px;
    border: 0.1px solid black;
    margin: 0.3rem;
    background-color: rgba(253, 253, 253, 0.425);
}

.filter-bar ul{
    list-style: none;
    display: inline;
}


.main-contents{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 0.5rem;
padding: 1rem;
overflow: scroll;
height: 100vh;
}

.main-videos{
    /* border:  1px solid black; */
    

}

.main-videos ul{
    list-style: none;
}

.main-videos a{
    text-decoration: none;
    color: rgba(37, 36, 36, 0.61);
    
}

.main-videos li{
    padding: 0.5rem;

}

@media  screen and (max-width: 800px ){
.right-heder-items{
    display: none;
}
.filter-bar{
    display: none;
}

}


@media  screen and (max-width: 700px ){
    .main-contents{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding: 1rem;
        overflow: scroll;
        height: 100vh;
        }
        .container{
            display: grid;
            grid-template: 
            "header header" 50px
            "left-menu main" 1fr /
             200px   1fr;
             width: 100vw;
             height: 100vh;
        }
    }

@media  screen and (max-width: 600px ){
    .youtube-logo{
        display: none;
    }
    .yotube-logo__{
        display: none;
    }
    .left-menu h3{
        display: none;
    }
    .left-menu h2{
        display: none;
    }
    /* .left-menu{
        width: 40px;
    } */
    .mini-footer{
        display: none;
    }
    .container{
        display: grid;
        grid-template: 
        "header header" 50px
        "left-menu main" 1fr /
         40px   1fr;
         width: 100vw;
         height: 100vh;
    }
    }


.video-main{
    display: grid;
    grid-template-columns: 1fr 400px;

}

.video-palyer{
    display: grid;
    /* border: 1px solid black; */
    height: 100vh;

}


.video-section-right{
    display: grid;
    /* border: 1px solid black;  */
    height: 100vh;
    grid-auto-rows: 350px;
}

.video-palyer{
    display: grid;
    grid-template-rows: 600px 1fr;
    grid-auto-flow: row;
    height: 100vh; 
    /* border: 1px solid black;  */
   
}

.video{
    display: grid;
    /* border: 1px solid black;  */
}

.video ul{
    list-style: none;
    text-align: center;
}

.Coments{
    display: grid;
    /* border: 1px solid black; */
   
 

}

.video-section__{
    display: grid;
    /* border: 1px solid black;  */

}

.video-section__ ul{
    text-align: center;
    list-style: none;
}

.video-section__ a{
    text-decoration: none;
    color: black;
}